<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Create Jobsite</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/custom/backgroundStyle.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </head>

  {% include  "navbar.html" %}

  <body>
    <div class="container">
      <section class="mx-auto" style="max-width: 30rem;">
        <br>
        {% if error_message %}
          <div class="alert alert-danger text-center">{{ error_message }}</div>
        {% endif %}
        {% if success_message %}
          <div class = "alert alert-success text-center">{{ success_message }}</div>
        {% endif %}
        <div class="card rounded-top">
          <div class="card-header" style="background-color: #e5ecf4; border-color: #09bc8a;">
            <h1 class = text-center style="color: #004346;">Create Jobsite</h1>
          </div>
          <div class="card-body rounded-bottom" style="background-color: #e5ecf4;">
            <form action="{% url 'createJobsite'%}" method="post" class="text-center" autocomplete="off">
              {% csrf_token %}
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title" placeholder="Title" required>
              </div>
              <div class="form-group">
                <label for="owner">Owner</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="owner" name="owner" aria-describedby="owner" placeholder="Owner" required>
                </div>
                <select hidden id ="ownerDropdown">
                  {% for owner in owners %}
                    <option value = "{{ owner }}">{{ owner }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="addUsers">Add User(s)</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="search" name="search" aria-describedby="search" placeholder="Search Users...">
                </div>
                <input type="hidden" name="email_list" id="email-list-input">
                  <select hidden id="dropdown">
                    {% for user in users %}
                      <option value="{{ user }}">{{ user }}</option>
                    {% endfor %}
                  </select>
              </div>
              <div class="row justify-content-center" >
                <div class="col-auto">
                  <table class = "table table-responsive" style = "border-color: #09bc8a;" id="selected-emails" hidden>
                    <thead class="thead-light">
                      <tr class="text-left">
                        <th class="text-left">Added User(s)</th>
                        <th class="text-left">Remove User</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="row justify-content-center" >
              <div class="col-auto">
                <table class = "table table-responsive" style = "border-color: #09bc8a;">
                    <thead class="thead-light">
                        <tr class="text-left">
                          <th>Title</th>
                          <th>Owner</th>
                          <th>Assigned To</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in jobsites %}
                            <tr class="text-left">
                              {% if role == "A" %}
                              <td><a href="{% url 'editJobsite' row.id %}">{{ row.title }}</a></td>
                              {% endif %}
                              {% if role != "A" %}
                              <td>{{ row.title }}</td>
                              {% endif %}
                              <td>{{ row.owner.firstName }}</td>
                              <td>
                                {% if row.assigned.all %}
                                    {% for user in row.assigned.all %}
                                        {{user.firstName}}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    No users assigned
                                {% endif %}
                              </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
      var searchInput = document.getElementById("search");
      var dropdown = document.getElementById("dropdown");
      var ownerInput = document.getElementById("owner");
      var ownerDropdown = document.getElementById("ownerDropdown");
      var dropdownMenu = document.createElement("div");
      var ownerDropdownMenu = document.createElement("div");
      ownerDropdownMenu.classList.add("dropdown-menu");
      dropdownMenu.classList.add("dropdown-menu");
      dropdown.parentNode.insertBefore(dropdownMenu, dropdown.nextSibling);
      ownerDropdown.parentNode.insertBefore(ownerDropdownMenu, ownerDropdown.nextSibling);

      var options = [];
      for (var i = 0; i < dropdown.options.length; i++) {
          options.push(dropdown.options[i].text.toLowerCase());
      }
      var ownerOptions = [];
      for (var i = 0; i < ownerDropdown.options.length; i++) {
        ownerOptions.push(ownerDropdown.options[i].text.toLowerCase());
      }

      var emails = []; // Initialize an empty array to store selected emails

      searchInput.addEventListener("keyup", function() {
          var value = searchInput.value.toLowerCase();
          var matchingOptions = [];

          for (var i = 0; i < options.length; i++) {
          if (options[i].indexOf(value) > -1) {
              matchingOptions.push(dropdown.options[i].text);
          }
          }

          if (matchingOptions.length > 0) {
          dropdownMenu.innerHTML = "";
          for (var i = 0; i < matchingOptions.length; i++) {
              var dropdownOption = document.createElement("div");
              dropdownOption.classList.add("dropdown-option");
              dropdownOption.textContent = matchingOptions[i];
              dropdownOption.addEventListener("click", function(event) {
              var email = event.target.textContent;
              searchInput.value = "";
              dropdownMenu.innerHTML = "";
              emails.push(email); // Add the selected email to the emails array
              updateEmailList(); // Update the email list displayed on the form
              });
              dropdownMenu.appendChild(dropdownOption);
          }
          dropdownMenu.style.display = "block";
          } else {
          dropdownMenu.innerHTML = "";
          dropdownMenu.style.display = "none";
          }
      });

      ownerInput.addEventListener("keyup", function() {
        var value = ownerInput.value.toLowerCase();
        var matchingOptions = [];

        for (var i = 0; i < ownerOptions.length; i++) {
          if(ownerOptions[i].indexOf(value) > -1) {
            matchingOptions.push(ownerDropdown.options[i].text);
          }
        }

        if (matchingOptions.length > 0) {
          ownerDropdownMenu.innerHTML = "";
          for (var i = 0; i < matchingOptions.length; i++) {
            var dropdownOption = document.createElement("div");
            dropdownOption.classList.add("dropdown-option");
            dropdownOption.textContent = matchingOptions[i];
            dropdownOption.addEventListener("click", function(event) {
              var jobsiteOwner = event.target.textContent;
              ownerInput.value = jobsiteOwner;
              ownerDropdownMenu.innerHTML = "";
              ownerDropdownMenu.style.display = "none";
            });
            ownerDropdownMenu.appendChild(dropdownOption);
          }
          ownerDropdownMenu.style.display = "block";
        } else {
          ownerDropdownMenu.innerHTML = "";
          ownerDropdownMenu.style.display = "none";
        }
      });

      document.addEventListener("click", function(event) {
          if (!searchInput.contains(event.target) && !dropdownMenu.contains(event.target) && !ownerInput.contains(event.target) && !ownerDropdownMenu.contains(event.target)) {
          dropdownMenu.style.display = "none";
          ownerDropdownMenu.style.display = "none";
          }
      });

      function updateEmailList() {
        var emailTable = document.getElementById("selected-emails");
        emailTable.hidden = false;
        for (var i = emailTable.rows.length - 1; i > 0; i--) {
          emailTable.deleteRow(i);
        }
        for (var i = 0; i < emails.length; i++) {
          var emailRow = emailTable.insertRow(-1);
          var emailCell = emailRow.insertCell(0);
          var removeCell = emailRow.insertCell(1);
          var emailText = document.createTextNode(emails[i]);
          var removeButton = document.createElement("button");
          removeButton.textContent = "Remove";
          removeButton.classList.add("btn", "btn-danger");
          removeButton.addEventListener("click", function(event) {
            var emailToRemove = event.target.parentNode.parentNode.cells[0].textContent;
            emails = emails.filter(function(email) {
              return email !== emailToRemove;
            });
            if (emails.length -1 > 0 ) {
                updateEmailList();
              }
              else {
                emailTable.hidden = true;
                event.preventDefault();
              }
          });
          emailCell.appendChild(emailText);
          removeCell.appendChild(removeButton);
        }
        var emailListInput = document.getElementById("email-list-input");
        emailListInput.value = emails.join(",");
      }
      });
    </script>
  </body>
</html>