<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<!--TEMPORARY LINKS TO MAKE NAVBAR WORK, WILL UPDATE STATIC LATER-->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Tool Ownership Tracker DEMO BAR</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					User
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/profile/">Profile</a>
						<a class="dropdown-item" href="/signup/">Signup</a>
						<a class="dropdown-item" href="/edituser/">edituser</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Tool
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">n/a</a>
						<a class="dropdown-item" href="#">n/a</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">n/a</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Jobsite
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/jobsites/">Jobsites</a>
						<a class="dropdown-item" href="#">n/a</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">n/a</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
		</div>
	</nav>
	<body>
		<div class="pages" class="text-center" style="text-align: center">
			<div class="row justify-content-center" >
			  <div class="col-auto">
		{% block content %}
		<div class="content">
			<div class="table">
				<br>
				<table class = table table-responsive>
					<thead class = "thead-light">
						<tr class = "text-left">
							<th>Jobsite</th>
							<th>Tools</th>
						</tr>
					</thead>

					{% if accType == 'S' %}
                        <tbody>
					    {% for i in jobsites %}
					        <tr class = "table table-responsive">
							{% if i.owner.email == user %}
						    <td>{{ i.name }}</td>
							<td>
						        {% for z in tool %}
						            {% if z.toolbox.jobsite.name == i.name %}
									{{ z.name }} {{z.toolType}}<p></p>
                                    {% endif %}
						        {% endfor %}
							</td>
                            {% endif %}
						{% endfor %}
                            </tr>
                            </tbody>
					{% endif %}
                    
                    
					{% if accType == 'A' %}
                    <tbody>
						{% for i in jobsites %}
                            <tr class = "table table-responsive">
                            <td>{{ i.name }}</td>
							<td>
						    {% for z in tool %}
								{% if z.toolbox.jobsite.name == i.name %}
						        {{ z.name }} {{z.toolType}}<p></p>
								{% endif %}
						    {% endfor %}
							</td>
						{% endfor %}
                    </tr>
                    </tbody>
					{% endif %}
                    
				</table>
			</div>
		</div>
		{% endblock %}
	</div></div></div>
	</body>
</html>