
<!DOCTYPE html>

<html lang="en">
  {% load pwa %}

<head>
      {% progressive_web_app_meta %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <title>Tool Login</title>
      <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
  <div class="container">
  <!--input id="signin" type="radio" name="tab" checked="checked"/>
  <div class="tabs">
    <label class="tab text" for="signin">
      Sign In</label>
  </div-->

  <section class="mx-auto my-5" style="max-width: 23rem;">
    <div class="pages" class="card-body rounded-top">
      <form method="post" class="text-center" style="text-align: center" action="/">
      <div class="page">
        {% csrf_token %}


          <div class="form-group">
            <label for="InputUsername">Email Address</label>
            <input type="email" class="form-control" name="InputUsername" id="InputUsername" aria-describedby="emailHelp" placeholder="Enter email">

          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" name="InputPassword" id="InputPassword" placeholder="Password">
          </div>
          <br>

          <button type="submit" name="login" class="btn btn-primary">Submit</button>

          <button type="submit" class="btn btn-secondary" name = "forgot_password">Forgot Password?</button>
        </form>


    </div>
    </section>
    <img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/64569/gear_tools.png" alt="Gear Clipart" class = "center">
</div>
</html>


