
<!DOCTYPE html>

<html lang="en">
<head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <title>Tool Login</title>
      <link rel="stylesheet" href="static/css/bootstrap.css">
  </head>
  <div class="container">
  <!--input id="signin" type="radio" name="tab" checked="checked"/>
  <div class="tabs">
    <label class="tab text" for="signin">
      Sign In</label>
  </div-->
 
  <section class="mx-auto my-5" style="max-width: 23rem;">
    <div class="pages" class="card-body rounded-top">
      <form method="post" class="text-center" style="text-align: center" action="/">
      <div class="page">
        {% csrf_token %}
        
        <form>
          <div class="form-group">
            <label for="InputUsername">Email address</label>
            <input type="email" class="form-control" name="InputUsername" id="InputUsername" aria-describedby="emailHelp" placeholder="Enter email">
            
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" name="InputPassword" id="InputPassword" placeholder="Password">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-secondary">Forgot Password?
          </button>
        </form>

        <!--div class="input">
          <input class="text" name="InputUsername" id="InputUsername" type="text" placeholder="Email"/>
        </div>
        <div class="input">
          <input class="text" name="InputPassword" id="InputPassword" type="password" placeholder="Password"/>
        </div>
        <div class="input">
          <input type="button" value="Forgot Password?"/>
        </div>

        <div class="input">
          <button type="submit" class="btn btn-primary">Enter</button>
        </div>

      </div-->
      </form>
    </div>
    </section>
</div>
</html>


