
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'customcss/navbar.css' %}">
</head>

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img class ="logo" src ="{% static 'images\logo.png'%}"></img><span id="logotext">Tool Ownership Tracker</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img id = "icon" src="{% static 'images/user.png' %}"></img>User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile/">Profile</a>
          {% if role == "A" %}
            <a class="dropdown-item" href="/signup/">Signup</a>
          {% endif %}
          <a class="dropdown-item" href="/edituser/">Edit User</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/barcodeScanToUser/" >Scan Tool to My Toolbox</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img id = "icon" src="{% static 'images/tool.png' %}"></img>Tool
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if role == "A" %}
            <a class="dropdown-item" href="/createTool/">Create Tool</a>
          {% endif %}
            <a class="dropdown-item" href="/fileToolReport/">File Tool Report</a>
          {% if role == "A" %}
            <a class="dropdown-item" href="/viewToolReports/">View Tool Reports</a>
            <a class="dropdown-item" href="/unassignedTools/">View Unassigned Tools</a>
          {% endif %}
        </div>
      </li>
      {% if role == "A" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id = "icon" src="{% static 'images/jobsite.png' %}"></img>Jobsite
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/jobsites/">Jobsites</a>
            <a class="dropdown-item" href="/createJobsite/">Create Jobsite</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/barcodeScanToJobsite/">Scan Tool to Site</a>
          </div>
        </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Toolbox
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/currentUserToolbox/">My Toolbox</a>
          {% if role != "U" %}
            <a class="dropdown-item" href="/userToolboxes/">User's Toolboxes</a>
            <a class="dropdown-item" href="/jobsiteToolboxes/">Jobsite Toolboxes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">n/a</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item">
        <a class = "nav-link" href ="">Logout</a>
      </li>
    </ul>
    
  </div>
</nav>