<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/signup/" method="post">
      {%  csrf_token %}
      <div class="container">
          <label for="username">Username:</label><br>
              <input required pattern="[a-zA-Z0-9-]+" title="only numbers and alphabetical characters"
                     id="username" type="text" name="username", placeholder="Enter a username"><br>

          <label for="password">Password:</label><br>
              <input required pattern="[a-zA-Z0-9-]+" title="only numbers and alphabetical characters"
                     id="password" type="text" name="password", placeholder="Enter a password"><br>

          <label for="email">Email:</label><br>
              <input required pattern="[a-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="only valid emails accepted"
                     id="email" type="email" name="email", placeholder="abc@abc.com"><br>

          <label for="phone">Phone Number:</label><br>
              <input required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Only valid phone numbers in the xxx-xxx-xxxx format will be accepted."
                     id="phone" type="tel" name="phone", placeholder="111-111-1111"><br>

          <label for="address">Address: </label><br>
              <input required id="address" type="text" name="address", placeholder="1111 North Pl"><br>
          <button type="submit">Submit</button>
      </div>
  </form>
  </body>
</html>
