<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <title>User Toolbox</title>
      <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
  <body>
    <div class="text-center align-middle">
        <h1>Your Toolbox</h1>
    </div>
    
    <div class="row justify-content-center" >
        
    <div class="col-auto">
        <table class = "table table-responsive">
            <thead class="thead-light">
                <tr class="text-left">
                    <th>Tool</th>
                    <th>Type</th>
                    <th>Checkout Date</th>
                </tr>
            </thead>


            <tbody>
                {% for row in tools %}
                    <tr class="text-left">
                        <td>{{ row.name }}</td>
                        <td>{{ row.type }}</td>
                        <td>{{ row.checkoutDate }}</td>
                    </tr>

                {% endfor %}

            </tbody>



        </table>
        </div>
    </div>
      
  </body>
</html>