{% block content %}
    <div class="content">
        <div class="table">
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Jobsite</th>
                        <th>Address</th>
                        <th>Supervisor</th>
                        <th>Worker Number</th>
                    </tr>
                </thead>
                {% for i in jobsites %}
                    <tr>
                        <td>{{ i.owner }}</td>
                        <td>{{ i.title }}</td>
                        <td>{{ i.assigned }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
