<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/custom/backgroundStyle.css">
    <style>
      @media (max-width: 600px) {
          .pageWidth {
              max-width: 100%;
          }
          body{
              background-image: url("/static/images/backgroundImageMobile.png");
              background-size: 100%;
              overflow: auto;
          }
      }

      @media(min-width: 601px) {
          .pageWidth {
              max-width: 40rem;
          }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <section class="mx-auto pageWidth">
        <br>
        {% if error_message %}
          <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <div class="card rounded-top">
          <div class="card-header" style="background-color: #e5ecf4; border-color: #09bc8a;">
            <h1 class = text-center style="color: #004346;">Enter Email</h1>
          </div>
          <div class="card-body rounded-bottom" style="background-color: #e5ecf4;">
            <form method="post" class="text-center">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <br>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
        <br>
        <br>
      </section>
    </div>
  </body>
</html>