<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
  <div class="container">
    <section class="mx-auto my-5" style="max-width: 23rem;">
      <div class="card border-primary">
          <div class="card-header bg-primary text-white text-center">Password Reset Complete</div>
          <div class="card-body text-center">
            <p>Your password has been successfully reset.</p>
            <p>You can now log in with your new password.</p>
            <a href ="{% url 'LoginHTML' %}" class="btn btn-primary">Log In</a>
          </div>
      </div>
    </section>
  </div>
</body>
</html>