<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Password Reset Email Sent</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/custom/backgroundStyle.css">
</head>
<body>
    <div class="container">
        <section class="mx-auto" style="max-width: 30rem;">
            <div class="card rounded-top">
                <div class="card-header" style="background-color: #e5ecf4; border-color: #09bc8a;">
                    <h1 class = text-center style="color: #004346;">Password Reset Email Sent</h1>
                </div>
                <div class="card-body rounded-bottom text-center" style="background-color: #e5ecf4;">
                    <p>An email has been sent to your email address with instructions on how to reset your password.</p>
                    <p>If you do not receive the email within a few minutes, please check your spam folder.</p>
                </div>
            </div>
            <br>
            <br>
        </section>
    </div>
</body>
</html>