<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Password Reset Email Sent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <section class="mx-auto my-5" style="max-width: 23rem;">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white text-center">Password Reset Email Sent</div>
                <div class="card-body text-center">
                    <p>An email has been sent to your email address with instructions on how to reset your password.</p>
                    <p>If you do not receive the email within a few minutes, please check your spam folder.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>