<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  </head>
  <body class="bg-light">
    <div class="container my-5">
      {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
      {% endif %}
      <form class="card p-4" method="post" id="form">
        {% csrf_token %}
        <h4 class="mb-4">Forgot Password</h4>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com">
          <label for="email">Email</label>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>