{% extends 'toolReport.html' %}

{% block content %}


  <form method="post" id="reportForm" data-toolbox-url="{% url 'ajax_load_toolbox' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    
    <button type="submit">Save</button>
    <a href="{% url 'report_changelist' %}">Nevermind</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_jobsite").change(function () {
      var url = $("#ReportForm").attr("data-toolbox-url");  
      var jobsiteId = $(this).val();  

      $.ajax({                       
        url: '{% url 'ajax_load_toolbox' %}',                  
        data: {
          'jobsite': jobsiteId      
        },
        success: function (data) {   
          $("#id_toolbox").html(data);  
        }
      });

    });
    
    $("#id_toolbox").change(function () { 
      var url = $("#ReportForm").attr("data-toolbox-url");  
      var toolboxId = $(this).val(); 

      $.ajax({                      
        url: '{% url 'ajax_load_tool' %}',               
        data: {
          'toolbox': toolboxId      
        },
        success: function (data) {   
          $("#id_tool").html(data);  
        }
      });

    });
  </script>

{% endblock %}